/*
*
*
*
/* ============================== layout =========================== */

html,
body,
.capa {
    height: 100%;
}

body {
    background: url('imagens/capa.png'), url('imagens/ruido.png'), linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
}


/* -- Barra de navegação -- */

.img-logo {
    height: 40px;
    width: 132px;
    display: block;
    background: url('imagens/spotify.svg') no-repeat;
    background-size: contain;
}

nav.navbar-transparent {
    background-color: #000000;
    padding: 15px 0px;
    background: rgba(0, 0, 0, 0.5);
    border: none;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #9bf0e1;
}

.navbar-brand {
    padding: 0px;
    padding-top: 5px;
}

.nav-link {
    color: #ffffff;
}

#logo {
    color: #ffffff
}

#divisor {
    width: 1px;
    height: 15px;
    margin: 15px 10px;
    background: #ffffff;
}

.capa {
    display: table;
    width: 100%;
}

.texto-capa {
    text-align: center;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
}


/* -- Barra de navegação -- */

.btn-custom {
    color: #ffffff;
    border-radius: 500px;
    padding: 10px 35px;
    text-transform: uppercase;
    margin: 0px 15px;
    transition-property: background-color, color;
    transition-duration: 0.4s;
}

.btn-roxo {
    background: #7c25f8;
}

.btn-roxo:hover {
    background-color: #6207e5;
}

.btn-branco {
    background: transparent;
    border: 2px solid #ffffff;
}

.btn-branco:hover {
    background: #ffffff;
    color: #000000;
}


/* ==================== Tipografia ===================== */

h1 {
    font-size: 100px;
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
}